<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Remember the Milk</title>
</head>

<body>
  <h1>{{name}}</h1>
  <h1>{{error}}</h1>
  <ul>
    {{#each items}}
    <li>{{this.title}}
      <br/> notes: {{this.notes}}
      <br/> due: {{this.due}}</li>
    {{/each}}
  </ul>
</body>

</html>